* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: #E9F8FC;
}

h1 {
    font-weight: bold;
    font-size: 64px;
    color: B3B3B3;
    text-align: left;
    margin-bottom: 50px;
    margin-top: 150px;
    margin-left: 100px;
}

h2 {
    font-size: 32px;
    font-weight: semi-bold;
    margin-left: 100px;
}