* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}


body {
    font-family: 'Montserrat', sans-serif;
    background-color: green;
    -webkit-font-smoothing: antialiased;
    background-image: url("public/background.jpg");
}

.container {
    height: 100%;
    width: 100%;
}

h1 {
    font-weight: bold;
    font-size: 6rem;
    color: #fff;
    text-align: left;
    margin-bottom: 5vh;
    margin-top: 15vh;
    margin-left: 10vw;
}

h2 {
    font-size: 3rem;
    font-weight: semi-bold;
    margin-left: 10vw;
    color: #d4d8d8;
}

div.main {
    margin-top: 5vh;
    margin-left:10vw;
    margin-bottom: 5vh;
}

a {
    font-weight: bolder;
    font-size: 1.6rem;
    color: #fc85f2;
}

a:hover {
    background: linear-gradient(to right, #3372b9 50%, #E9F8FC 50%) left;
    background-size: 200%;
    transition: 0.5s ease-out;
    border-radius: 3%;
    padding: 0 20px;
}

p {
    font-size: 1.6rem;
    color: #fff;
}

span.divider {
    margin: 1vh;
}

span.name {
    color: #3372b9;
}